In [1]:
# This Python 3 annotationsenvironment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pokemon-challenge/pokemon.csv
/kaggle/input/pokemon-challenge/tests.csv
/kaggle/input/pokemon-challenge/combats.csv

In [2]:
df_pokemon = pd.read_csv(r'/kaggle/input/pokemon-challenge/pokemon.csv')
df_pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Checking basic data structres

In [3]:
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [4]:
df_pokemon.shape

(800, 12)

In [5]:
df_pokemon.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.0000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,400.5000,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,231.0844,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.0000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,200.7500,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,400.5000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,600.2500,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,800.0000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
df_pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [7]:
df_pokemon['Type 2'].value_counts()

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

In [8]:
df_pokemon[['Type 1','Type 2']].value_counts()

Type 1    Type 2
Normal    Flying    24
Grass     Poison    15
Bug       Flying    14
          Poison    12
Ghost     Grass     10
                    ..
Fire      Rock       1
Ice       Ghost      1
Fire      Dragon     1
Fighting  Flying     1
Water     Steel      1
Name: count, Length: 136, dtype: int64

## generation

In [9]:
df_pokemon['Generation'].value_counts()

Generation
1    166
5    165
3    160
4    121
2    106
6     82
Name: count, dtype: int64

### for each generation checking value_counts() for different types

In [10]:
df_pokemon[df_pokemon['Generation'] == 1]['Type 1'].value_counts()
df_pokemon[df_pokemon['Generation'] == 1]['Type 2'].value_counts()
df_pokemon[df_pokemon['Generation'] == 1][['Type 1','Type 2']].value_counts()

Type 1
Water       31
Normal      24
Fire        14
Bug         14
Poison      14
Grass       13
Psychic     11
Rock        10
Electric     9
Ground       8
Fighting     7
Ghost        4
Dragon       3
Fairy        2
Ice          2
Name: count, dtype: int64

Type 2
Flying      23
Poison      22
Psychic      7
Ground       6
Water        4
Fairy        3
Ice          3
Grass        2
Fighting     2
Steel        2
Rock         2
Dragon       1
Dark         1
Name: count, dtype: int64

Type 1    Type 2
Grass     Poison      10
Normal    Flying       9
Bug       Poison       6
Water     Psychic      4
Ghost     Poison       4
Rock      Water        4
          Ground       4
Water     Ice          3
Bug       Flying       3
Fire      Flying       3
Poison    Flying       2
Water     Poison       2
Electric  Steel        2
Rock      Flying       2
Grass     Psychic      2
Poison    Ground       2
Normal    Fairy        2
Bug       Grass        2
Ground    Rock         2
Fire      Dragon       1
Psychic   Fairy        1
Ice       Psychic      1
          Flying       1
Electric  Flying       1
Water     Dark         1
          Fighting     1
          Flying       1
Dragon    Flying       1
Psychic   Fighting     1
Name: count, dtype: int64

In [11]:
df_pokemon[df_pokemon['Generation'] == 2]['Type 1'].value_counts()
df_pokemon[df_pokemon['Generation'] == 2]['Type 2'].value_counts()
df_pokemon[df_pokemon['Generation'] == 2][['Type 1','Type 2']].value_counts()

Type 1
Water       18
Normal      15
Bug         12
Grass        9
Fire         8
Electric     7
Psychic      7
Dark         6
Fairy        5
Rock         5
Ice          4
Ground       3
Steel        3
Fighting     2
Poison       1
Ghost        1
Name: count, dtype: int64

Type 2
Flying      19
Ground       8
Poison       3
Fairy        3
Psychic      3
Steel        3
Rock         3
Fire         3
Electric     2
Dragon       2
Fighting     2
Dark         2
Ice          1
Grass        1
Name: count, dtype: int64

Type 1    Type 2
Grass     Flying      3
Bug       Steel       3
Dark      Fire        3
Bug       Flying      3
Psychic   Flying      3
Bug       Fighting    2
Rock      Dark        2
Normal    Flying      2
Rock      Ground      2
Ice       Ground      2
Steel     Ground      2
Water     Electric    2
          Fairy       2
          Ground      2
Bug       Poison      2
Water     Dragon      1
Steel     Flying      1
Water     Flying      1
          Poison      1
          Psychic     1
Psychic   Grass       1
Normal    Fairy       1
Poison    Flying      1
Normal    Psychic     1
Ice       Psychic     1
          Flying      1
Ground    Flying      1
Fire      Rock        1
          Flying      1
Fairy     Flying      1
Electric  Dragon      1
Dark      Ice         1
          Flying      1
Bug       Rock        1
Water     Rock        1
Name: count, dtype: int64

In [12]:
df_pokemon[df_pokemon['Generation'] == 3]['Type 1'].value_counts()
df_pokemon[df_pokemon['Generation'] == 3]['Type 2'].value_counts()
df_pokemon[df_pokemon['Generation'] == 3][['Type 1','Type 2']].value_counts()

Type 1
Water       27
Normal      18
Grass       13
Bug         12
Psychic     12
Steel       12
Dragon      12
Fire         8
Rock         8
Ground       7
Ice          7
Dark         6
Fighting     5
Electric     5
Ghost        5
Poison       3
Name: count, dtype: int64

Type 2
Psychic     16
Flying      14
Ground       9
Fairy        8
Dark         7
Grass        5
Fighting     4
Water        4
Rock         4
Dragon       3
Ghost        3
Poison       2
Bug          2
Fire         1
Name: count, dtype: int64

Type 1    Type 2
Water     Ground      5
Steel     Psychic     5
Dragon    Flying      5
Psychic   Fairy       4
Water     Dark        4
Dragon    Psychic     4
Bug       Flying      3
Ice       Water       3
Grass     Dark        3
Fire      Ground      3
          Fighting    3
Fighting  Psychic     3
Steel     Rock        3
Water     Grass       3
Normal    Flying      3
Water     Flying      2
Steel     Fairy       2
Rock      Psychic     2
          Grass       2
          Bug         2
Ground    Dragon      2
          Psychic     2
Dark      Ghost       2
Normal    Fairy       1
Ground    Fire        1
Bug       Ghost       1
Grass     Poison      1
          Flying      1
          Fighting    1
          Dragon      1
Dragon    Fairy       1
Bug       Water       1
          Poison      1
          Ground      1
Water     Rock        1
Name: count, dtype: int64

In [13]:
df_pokemon[df_pokemon['Generation'] == 4]['Type 1'].value_counts()
df_pokemon[df_pokemon['Generation'] == 4]['Type 2'].value_counts()
df_pokemon[df_pokemon['Generation'] == 4][['Type 1','Type 2']].value_counts()

Type 1
Normal      18
Grass       15
Water       13
Electric    12
Bug         10
Psychic      8
Ghost        7
Rock         6
Poison       6
Fire         5
Ground       4
Dragon       4
Fighting     3
Dark         3
Steel        3
Ice          3
Fairy        1
Name: count, dtype: int64

Type 2
Flying      16
Steel        9
Ground       8
Fighting     7
Ice          5
Dark         4
Dragon       4
Water        2
Poison       2
Grass        2
Psychic      2
Ghost        2
Fairy        1
Bug          1
Rock         1
Fire         1
Name: count, dtype: int64

Type 1    Type 2
Bug       Flying      4
Dragon    Ground      4
Normal    Flying      4
Grass     Ice         3
Rock      Steel       3
Poison    Dark        3
Steel     Psychic     2
Poison    Fighting    2
Ghost     Flying      2
          Dragon      2
Fire      Fighting    2
Fighting  Steel       2
Psychic   Fighting    2
Grass     Poison      2
Ground    Rock        1
Poison    Bug         1
Normal    Water       1
Steel     Dragon      1
Psychic   Fairy       1
Water     Flying      1
Normal    Fighting    1
Water     Dragon      1
Ice       Ground      1
          Ghost       1
Water     Ground      1
Grass     Ground      1
Ground    Flying      1
Bug       Grass       1
          Ground      1
          Steel       1
Dark      Flying      1
          Ice         1
Electric  Fire        1
          Flying      1
          Ghost       1
          Grass       1
          Ice         1
          Steel       1
          Water       1
Fairy     Flying      1
Fire      Steel       1
Ghost     Dark        1
Grass     Flying      1
Water     Steel       1
Name: count, dtype: int64

In [14]:
df_pokemon[df_pokemon['Generation'] == 5]['Type 1'].value_counts()
df_pokemon[df_pokemon['Generation'] == 5]['Type 2'].value_counts()
df_pokemon[df_pokemon['Generation'] == 5][['Type 1','Type 2']].value_counts()

Type 1
Normal      19
Bug         18
Water       18
Grass       15
Psychic     14
Dark        13
Ground      10
Fire         9
Dragon       9
Electric     8
Fighting     7
Rock         6
Ice          6
Ghost        5
Steel        4
Poison       2
Flying       2
Name: count, dtype: int64

Type 2
Flying      19
Fighting    10
Steel        8
Fire         7
Grass        5
Poison       5
Rock         4
Ghost        4
Electric     4
Fairy        3
Dark         3
Dragon       3
Ice          3
Ground       2
Psychic      2
Name: count, dtype: int64

Type 1    Type 2
Normal    Flying      5
Ground    Dark        3
Electric  Flying      3
Bug       Grass       3
          Poison      3
          Steel       3
Dark      Dragon      3
Ghost     Fire        3
Psychic   Flying      3
Dragon    Ice         3
Ground    Flying      2
          Ghost       2
Normal    Grass       2
Bug       Electric    2
          Fire        2
Water     Fighting    2
          Flying      2
          Ghost       2
          Ground      2
Rock      Flying      2
Grass     Steel       2
          Poison      2
Fire      Fighting    2
Bug       Rock        2
Dark      Fighting    2
          Flying      2
          Steel       2
Water     Rock        2
Grass     Fairy       2
Fire      Psychic     1
Normal    Fighting    1
          Psychic     1
Ground    Electric    1
Dragon    Fire        1
Rock      Fighting    1
Dragon    Electric    1
Steel     Fighting    1
Normal    Fairy       1
Ground    Steel       1
Grass     Fighting    1
Psychic   Fire        1
Name: count, dtype: int64

In [15]:
df_pokemon[df_pokemon['Generation'] == 6]['Type 1'].value_counts()
df_pokemon[df_pokemon['Generation'] == 6]['Type 2'].value_counts()
df_pokemon[df_pokemon['Generation'] == 6][['Type 1','Type 2']].value_counts()

Type 1
Ghost       10
Rock         9
Fairy        9
Fire         8
Grass        5
Psychic      5
Steel        5
Water        5
Normal       4
Dragon       4
Fighting     3
Bug          3
Dark         3
Electric     3
Poison       2
Ice          2
Flying       2
Name: count, dtype: int64

Type 2
Grass       10
Flying       6
Ghost        5
Dragon       5
Fairy        5
Normal       4
Water        4
Psychic      3
Dark         3
Ground       2
Ice          2
Fighting     1
Name: count, dtype: int64

Type 1    Type 2
Ghost     Grass       10
Steel     Ghost        4
Rock      Fairy        3
Fire      Flying       2
Dark      Psychic      2
Electric  Normal       2
Rock      Water        2
          Ice          2
Fire      Normal       2
Rock      Dragon       2
Flying    Dragon       2
Psychic   Dark         1
          Ghost        1
Bug       Flying       1
Poison    Dragon       1
Steel     Fairy        1
Poison    Water        1
Grass     Fighting     1
Normal    Ground       1
          Flying       1
Dark      Flying       1
Fire      Water        1
          Psychic      1
Fighting  Flying       1
          Dark         1
Electric  Fairy        1
Dragon    Ground       1
Water     Dark         1
Name: count, dtype: int64

## legendary

In [16]:
df_pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

### for legendary checking for generations and types

In [17]:
df_pokemon[df_pokemon['Legendary'] == True]['Generation'].value_counts()

Generation
3    18
5    15
4    13
6     8
1     6
2     5
Name: count, dtype: int64

In [18]:
df_pokemon[df_pokemon['Legendary'] == True]['Type 1'].value_counts()
df_pokemon[df_pokemon['Legendary'] == True]['Type 2'].value_counts()
df_pokemon[df_pokemon['Legendary'] == True][['Type 1','Type 2']].value_counts()

Type 1
Psychic     14
Dragon      12
Fire         5
Electric     4
Water        4
Rock         4
Steel        4
Ground       4
Grass        3
Ice          2
Normal       2
Ghost        2
Dark         2
Flying       2
Fairy        1
Name: count, dtype: int64

Type 2
Flying      13
Psychic      5
Fighting     4
Dragon       4
Fire         3
Ice          3
Fairy        2
Steel        1
Electric     1
Ground       1
Ghost        1
Dark         1
Water        1
Name: count, dtype: int64

Type 1    Type 2
Dragon    Psychic     4
          Ice         3
Electric  Flying      3
Fire      Flying      2
Ghost     Dragon      2
Ground    Flying      2
Dragon    Flying      2
Rock      Fairy       2
Psychic   Flying      1
          Ghost       1
Dark      Flying      1
Rock      Fighting    1
Steel     Dragon      1
Psychic   Fighting    1
Steel     Fighting    1
          Psychic     1
Psychic   Fire        1
Ground    Fire        1
Psychic   Dark        1
Ice       Flying      1
Dragon    Electric    1
Grass     Flying      1
          Fighting    1
Fire      Water       1
          Steel       1
Dragon    Ground      1
          Fire        1
Water     Dragon      1
Name: count, dtype: int64

# Channging column names for convenience

In [19]:
df_pokemon.columns.tolist()

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

## column name converted to lowercase

In [20]:
df_pokemon.columns = df_pokemon.columns.str.lower()

In [21]:
df_pokemon

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# ANALYSIS

## Goal --> Form Team for different generations and types according to requirements
> legendaries<br>
> without legendaries<br>
> mix<br>

> check values for all stats --> check for pokemon having lowest, highest<br>
> How many mega evolutions there ? <br>
> Generations and types for which mega evolution is there<br>
> Pokemons with greater than 85 | 90 percentile values their generations and stats<br>
> Create More Features<br>
>> total<br>
>> sum attack<br>
>> sum defense<br>
>> sum special feats<br>
>> sum physical feats<br>
>>
> Correlation Analysis
>> mega evolutions and stats<br>
>> num types and stats<br>
>> different types and stats<br>
>> legendary and stats<br>
>> number of types and legendaries<br>

In [22]:
df_pokemon.describe(percentiles=[0.10,0.25,0.50,0.75,0.80,0.90,0.95])

,#,hp,attack,defense,sp. atk,sp. def,speed,generation
count,800.0000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,400.5000,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,231.0844,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.0000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
10%,80.9000,40.000000,40.000000,40.000000,35.000000,40.000000,30.000000,1.00000
25%,200.7500,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,400.5000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,600.2500,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
80%,640.2000,89.000000,105.000000,95.000000,100.000000,95.000000,95.000000,5.00000
90%,720.1000,100.000000,125.000000,115.000000,120.000000,107.000000,106.000000,6.00000
95%,760.0500,110.000000,136.200000,130.000000,131.050000,120.000000,115.000000,6.00000
max,800.0000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

### lowest stats

In [23]:
#  pokemon which has lowest following stats
print('hp lowest')
df_pokemon[df_pokemon['hp'] == df_pokemon['hp'].min()]
print('attack lowest')
df_pokemon[df_pokemon['attack'] == df_pokemon['attack'].min()]
print('defense lowest')
df_pokemon[df_pokemon['defense'] == df_pokemon['defense'].min()]
print('sp. atk lowest')
df_pokemon[df_pokemon['sp. atk'] == df_pokemon['sp. atk'].min()]
print('sp. def lowest')
df_pokemon[df_pokemon['sp. def'] == df_pokemon['sp. def'].min()]
print('speed lowest')
df_pokemon[df_pokemon['speed'] == df_pokemon['speed'].min()]

hp lowest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
316,317,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

attack lowest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
121,122,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,489,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

defense lowest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
121,122,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,489,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

sp. atk lowest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
381,382,Feebas,Water,NaN,20,15,20,10,55,80,3,False
486,487,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False

sp. def lowest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
13,14,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
16,17,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
139,140,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
188,189,Igglybuff,Normal,Fairy,90,30,15,40,20,15,2,False
347,348,Carvanha,Water,Dark,45,90,20,65,20,65,3,False
429,430,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True

speed lowest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
495,496,Munchlax,Normal,NaN,135,85,40,40,85,5,4,False

### highest stats

In [24]:
#  pokemon which has highest following stats
print('hp highest')
df_pokemon[df_pokemon['hp'] == df_pokemon['hp'].max()]
print('attack highest')
df_pokemon[df_pokemon['attack'] == df_pokemon['attack'].max()]
print('defense highest')
df_pokemon[df_pokemon['defense'] == df_pokemon['defense'].max()]
print('sp. atk highest')
df_pokemon[df_pokemon['sp. atk'] == df_pokemon['sp. atk'].max()]
print('sp. def highest')
df_pokemon[df_pokemon['sp. def'] == df_pokemon['sp. def'].max()]
print('speed highest')
df_pokemon[df_pokemon['speed'] == df_pokemon['speed'].max()]

hp highest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
261,262,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

attack highest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
163,164,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

defense highest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

sp. atk highest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
164,165,Mega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True

sp. def highest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False

speed highest

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
431,432,Deoxys Speed Forme,Psychic,NaN,50,95,90,95,90,180,3,True

### for mega evolutions

In [25]:
mega_pokemon_df = df_pokemon[df_pokemon['name'].str.contains('mega',case=False,na=False)]

In [26]:
mega_pokemon_df

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
7,8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
12,13,Mega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
19,20,Mega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
23,24,Mega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
71,72,Mega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
87,88,Mega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False
102,103,Mega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
124,125,Mega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False
137,138,Mega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
141,142,Mega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
154,155,Mega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
163,164,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,165,Mega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
168,169,Meganium,Grass,NaN,80,82,100,83,100,80,2,False
196,197,Mega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
229,230,Mega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
232,233,Mega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
248,249,Mega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False
268,269,Mega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
275,276,Mega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False
279,280,Mega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
283,284,Mega Swampert,Water,Ground,100,150,110,95,110,70,3,False
306,307,Mega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False
327,328,Mega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False
329,330,Mega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False
336,337,Mega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False
339,340,Mega Manectric,Electric,NaN,70,75,80,135,80,135,3,False
349,350,Mega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
354,355,Mega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
366,367,Mega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False
387,388,Mega Banette,Ghost,NaN,64,165,75,93,83,75,3,False
393,394,Mega Absol,Dark,NaN,65,150,60,115,60,115,3,False
397,398,Mega Glalie,Ice,NaN,80,120,80,120,80,100,3,False
409,410,Mega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False
413,414,Mega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False
418,419,Mega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True
420,421,Mega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True
426,427,Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
476,477,Mega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False
494,495,Mega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
498,499,Mega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False
511,512,Mega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
520,521,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
527,528,Mega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False
591,592,Mega Audino,Normal,Fairy,103,60,126,80,126,50,5,False
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [27]:
mega_pokemon_df.shape

(50, 12)

In [28]:
mega_pokemon_df['generation'].value_counts()

generation
3    20
1    15
2     7
4     6
5     1
6     1
Name: count, dtype: int64

In [29]:
mega_pokemon_df['type 1'].value_counts()
mega_pokemon_df['type 2'].value_counts()

type 1
Dragon      6
Water       5
Bug         5
Psychic     5
Grass       4
Fire        4
Normal      4
Steel       4
Rock        3
Dark        3
Ghost       2
Electric    2
Fighting    2
Ice         1
Name: count, dtype: int64

type 2
Flying      7
Psychic     5
Fighting    5
Fairy       5
Ground      4
Poison      3
Dragon      3
Dark        3
Steel       2
Fire        1
Ghost       1
Ice         1
Name: count, dtype: int64

In [30]:
mega_pokemon_df[['type 1','type 2']].value_counts()

type 1    type 2
Dragon    Psychic     2
Bug       Flying      2
Water     Dark        2
Dragon    Flying      2
Psychic   Fighting    2
Rock      Dark        1
Normal    Fairy       1
          Fighting    1
          Flying      1
Psychic   Fairy       1
Bug       Fighting    1
Rock      Fairy       1
Grass     Ice         1
Rock      Flying      1
Steel     Fairy       1
          Ground      1
          Psychic     1
Water     Ground      1
Grass     Poison      1
Ghost     Poison      1
Grass     Dragon      1
Fire      Ground      1
          Flying      1
          Fighting    1
          Dragon      1
Fighting  Steel       1
          Psychic     1
Electric  Dragon      1
Dragon    Ground      1
          Fairy       1
Dark      Ghost       1
          Fire        1
Bug       Steel       1
          Poison      1
Water     Psychic     1
Name: count, dtype: int64